*{
  scroll-behavior: smooth;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  color: black;
  padding: 5px;
}

body {
  background-image: url("../images/backgroundPic.jpg");
  background-image: url("../images/pic2.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */

  height: 500px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#submit, #goBack{
  box-shadow: 5px 5px 5px #605f5f;
}

#menu {
  background-color: white;
}
#gen-recipe-header {
  display: flex;
  justify-content: center;
  font-size: 26px;
}
#bmi-Category,
#calories {
  color: white;
  box-shadow: 5px 5px 5px #c6c5c5;
  font-size: 18px;
  padding: 5px 10px;
}

#calories {
  width: 25%;
  margin: 0 auto;
  border-radius: 5px;
}

.overWeight {
  background-color: #f44336;
}
.underWeight {
  background-color: darkkhaki;
}
.normalWeight {
  background-color: #ffa726;
}

#bmi-box {
  font-size: 25px;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px #c6c5c5;
}

#bmi-text {
  font-size: 18px;
}

#filters-btn {
  border: 2px black;

  white-space: nowrap;
}

#upBtn{
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1;
}

#bmi-Category {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}

#filter-btn {
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 30px;
}
#search-bar {
  margin-top: 5px;
}

#foodInput input {
  font-style: italic;
}

.card-image {
  position: relative;
  width: 20%;
  margin: auto 0;
}

.card-image img {
  position: absolute;
  top: 0;
  min-width: 50%;
  height: 50%;
  object-fit: cover;
  margin-right: 0;
}

.card-stacked {
  width: 80%;
}

button, a:hover {
  letter-spacing: 1px;
}

@media screen and (max-width: 425px) {
  #calculatedBoxes {
    font-size: 30px;
  }
  #filters-btn label span {
    font-size: 30px;
  }
  #filters-btn {
    line-height: 57px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  button, #upBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 30px;
  }
  .row .col {
    padding: 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 992px) {
  #calculatedBoxes {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #filters-btn label span {
    font-size: 40px;
  }
  #filters-btn {
    line-height: 65px;
  }
  #filters h3 {
    margin-bottom: 40px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  button, a {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
  }
  .row .col {
    padding: 0;
  }
}

@media screen and (max-width: 993px) {
  body{
    background-image: none;
  }
}

@media screen and (min-width: 993px) {
  #menu{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
  }
  .filterChild {
    margin-bottom: 15px;
  }
  #filters-btn label span {
    font-size: 25px;
  }
  #recipesDisplayer .card-panel {
    margin-left: 400px;
  }
  #foodInput input {
    font-size: 30px;
  }
  #foodInput button, a {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #recipeDiv {
    margin-left: 575px;
  }
  #upBtn{
    width:0px;
    height:0px;
  }
 
}

@media screen and (min-width: 993px) {
  #gen-recipe-header {
    position: relative;
    left: 84px;
  }
  #menu {
    height:100%;
    position: fixed;
    width: 495px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
  }
  #recipeDiv {
    margin-left: 500px;
  }
}
