::placeholder {
  font-style: italic;
  font-size: 1em;
  color: black;
  padding: 5px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

#bmi-Category,
#calories {
  border: 2px solid black;
  border-radius: 5px;
}

#bmi-Category {
  /* background-color: ;*/
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid;
}

.overWeight {
  background-color: red;
}
.underWeight {
  background-color: darkkhaki;
}
.normalWeight {
  background-color: greenyellow;
}

#bmi-box {
  /* background-color: ;*/
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
}

#bmi-text {
  font-size: 18px;
}

#filters-btn {
  border: 2px black;
}

#foodInput input {
  font-style: italic;
}

@media screen and (max-width: 425px) {
  #calculatedBoxes {
    font-size: 30px;
  }
  #filters-btn label span {
    font-size: 30px;
  }
  #filters-btn {
    line-height: 57px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 60px;
  }
}

@media screen and (min-width: 426px) and (max-width: 992px) {
  #calculatedBoxes {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #filters-btn label span {
    font-size: 40px;
  }
  #filters-btn {
    line-height: 65px;
  }
  #filters h3 {
    margin-bottom: 40px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
  }
}

@media screen and (min-width: 993px) {
  #menu {
    padding-bottom: 220px;
    position: absolute;
    width: 400px;
  }
  #filters-btn {
    margin-bottom: 30px;
  }
  #recipesDisplayer .card-panel {
    margin-left: 400px;
  }
  #foodInput input {
    font-size: 30px;
  }
  #foodInput button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#bmi-Category,
#calories {
  border: 2px solid black;
  border-radius: 5px;
}

#bmi-Category {
  /* background-color: ;*/
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid;
}

.overWeight {
  background-color: red;
}
.underWeight {
  background-color: darkkhaki;
}
.normalWeight {
  background-color: greenyellow;
}

#bmi-box {
  /* background-color: ;*/
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  border: solid;
}

#bmi-text {
  font-size: 18px;
}

#filters-btn {
  border: 2px black;
}

#divContainer {
  /* background-color: springgreen; */
}
#filter-btn {
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  margin-top: 30px;
}
#search-bar {
  margin-top: 30px;
}
#submit-btn button {
  /* background-color: purple ;*/
}

#foodInput input {
  font-style: italic;
}

@media screen and (max-width: 425px) {
  #calculatedBoxes {
    font-size: 30px;
  }
  #filters-btn label span {
    font-size: 30px;
  }
  #filters-btn {
    line-height: 57px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    font-size: 60px;
  }
}

@media screen and (min-width: 426px) and (max-width: 992px) {
  #calculatedBoxes {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #filters-btn label span {
    font-size: 40px;
  }
  #filters-btn {
    line-height: 65px;
  }
  #filters h3 {
    margin-bottom: 40px;
  }
  #search-bar {
    font-size: 30px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
  }
}

@media screen and (min-width: 993px) {
  #menu {
    padding-bottom: 220px;
    position: fixed;
    top: 0;
    width: 550px;
  }
  #filters-btn {
    margin-bottom: 30px;
  }
  .filterChild{
    margin-bottom: 15px;
  }
  #filters-btn label span {
    font-size: 25px;
  }
  #recipesDisplayer .card-panel {
    margin-left: 400px;
  }
  #foodInput input {
    font-size: 30px;
  }
  #foodInput button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #recipeDiv {
    margin-left: 560px;
  }
}

.card-image {
  position:relative;
  width:20%
}

.card-image img{
  position:absolute;
  top:0;
  min-width:50%;
  height:50%;
  object-fit:cover;
  margin-right:0;
}

.card-stacked{
  width: 80%;
}

button:hover {
  letter-spacing: 1px;
}

.card-image {
  margin: auto 0;
}
