body {
  margin: 0;
  padding: 0;
}
#logo{
  
  width: 435px;
  height: 80px;
}
.title {
  /* background-image: url("/assets/pic1.jpg") ; */
  background-image: url("../images/backgroundPic.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.titleChild {
  margin-top: 50px;
}

p {
  font-weight: bold;
}

label {
  font-size: 20px;
  color: black;
}

input {
  margin-top: 20px;
  text-align: center;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  margin-top: 50px;
}

img {
  width: 25px;
}

/* RADIO SLIDER */
.radioBtns {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: inline-flex;
  height: 100px;
  width: 400px;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 30px;
}

.option {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

@media screen and (max-width: 425px) {
  .option {
    width: 100px;
    margin: 0;
  }
  .wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  #logo{
    width:80%
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  #logo{
    width:70%
  }
}

#metric:checked:checked ~ .metric,
#imperial:checked:checked ~ .imperial,
#female:checked:checked ~ .female,
#male:checked:checked ~ .male {
  border-color: #aed581;
  background: #aed581;
}

#metric:checked:checked ~ .metric,
#imperial:checked:checked ~ .imperial,
#female:checked:checked ~ .female,
#male:checked:checked ~ .male {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#metric:checked:checked ~ .metric span,
#imperial:checked:checked ~ .imperial span,
#female:checked:checked ~ .female span,
#male:checked:checked ~ .male span {
  color: #fff;
}