::placeholder {
    font-style: italic;
    font-size: 1em;
    color: black;
    padding: 5px;
  }

  body{
    background-image: url("Pic/Backgroundpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }


  aside{
    height: 100%;
    width: 160px;
    position: fixed;
    border-radius: 5px;
    flex: 30%;
    
  }

  h3{
      font-size: x-large;
      padding: 30px;
      border-radius: 10px;
      margin-left: 18%;
      margin-right: 2%;
  }

  #bmi-Category, #calories{
    border: 1px solid black;
    border-radius: 5px;
  }

 .recipes{
    margin-left: 160px; 
 }

 .submit{
    border-radius: 5px;
 }

 @media screen and (max-width: 992px) {
    aside h2 {
      width:30%;
      display: flex;
      flex-wrap: wrap;
      display: inherit;
      font-size: 200%;
    }
    .recipes{
        margin-left:20%;;
    }
  }